{% extends "admin_base.html" %}

{% block content %}

<div class="container mt-4">

<h3>✏️ Edit Course</h3>

<form method="POST" enctype="multipart/form-data">

<input type="text" name="title" class="form-control mb-2"
value="{{ course.title }}" required>

<input type="text" name="description" class="form-control mb-2"
value="{{ course.description }}" required>

<input type="text" name="faculty" class="form-control mb-2"
value="{{ course.faculty }}" required>

<input type="text" name="duration" class="form-control mb-2"
value="{{ course.duration }}" required>

<img src="{{ url_for('static', filename='courses/' + course.image) }}"
width="150" class="mb-2">

<input type="file" name="image" class="form-control mb-3">

<button class="btn btn-success w-100">Update Course</button>

</form>

</div>

{% endblock %}